<h1>Welcome</h1>
<h3>Staff</h3>
<% if current_staff %>
  <p>
    <%= link_to 'sign out', destroy_staff_session_path, method: :delete %>
  </p>
<% else %>
  <p>
    <%= link_to 'sign in', new_staff_session_path  %>
  </p>
<% end %>

<h3>Clients</h3>
<% if current_client %>
  <p>
    <%= link_to 'sign out', destroy_client_session_path, method: :delete %>
  </p>
<% else %>
  <p>
    <%= link_to 'sign in', new_client_session_path  %>
  </p>
<% end %>
